#!/usr/bin/env bash

function reload {
    source ~/.zshrc
}

function mongo-start {
    mongod --config /usr/local/etc/mongod.conf
}

function coffee {
    touch ~/.coffee
    if [[ $# -lt 1 ]]; then
        # Add cup of coffee
        date +%s >> ~/.coffee
    else
        if [ "$1" = "count" ]; then
            echo "$(< ~/.coffee wc -l) cups of coffee logged to date"
        fi
    fi
}
